# --- Localization ---
d-i debian-installer/locale string en_US.UTF-8
d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/xkb-keymap select fr(latin9)
d-i keyboard-configuration/layoutcode string fr

# --- Network Configuration ---
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string debian
d-i netcfg/get_domain string local
d-i netcfg/link_wait_timeout string 10

# --- Mirror Settings ---
d-i mirror/country string manual
d-i mirror/http/hostname string ftp.fr.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

# --- User Accounts ---
d-i passwd/root-password user user
d-i passwd/root-password-again user user
d-i passwd/user-fullname string Debian User
d-i passwd/username string user
d-i passwd/user-password user user
d-i passwd/user-password-again user user

# --- Clock and Timezone ---
d-i clock-setup/utc boolean true
d-i time/zone string Europe/Paris

# --- Partitioning (Encrypted LVM) ---
d-i partman-auto/method string crypto
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-auto/choose_recipe select efi-boot-crypto

d-i partman-auto/expert_recipe string \
      efi-boot-crypto :: \
              128 128 128 fat32 \
                      $primary{ } \
                      method{ efi } format{ } \
              . \
              300 300 300 ext4 \
                      $primary{ } $bootable{ } \
                      method{ format } format{ } \
                      use_filesystem{ } filesystem{ ext4 } \
                      mountpoint{ /boot } \
              . \
              2048 2048 2048 linux-swap \
                      $lvmok{ } \
                      lv_name{ swap } \
                      method{ swap } format{ } \
              . \
              1000 10000 -1 ext4 \
                      $lvmok{ } \
                      lv_name{ root } \
                      method{ format } format{ } \
                      use_filesystem{ } filesystem{ ext4 } \
                      mountpoint{ / } \
              .

# --- Encryption Passphrase & Data Wipe ---
d-i partman-crypto/password password password
d-i partman-crypto/password-again password password
d-i partman-crypto/confirm boolean true
d-i partman-crypto/confirm_nooverwrite boolean true
d-i partman-crypto/weak_passphrase boolean true
d-i partman-crypto/passphrase-at-static-priority boolean true
d-i partman-crypto/erase_data boolean true
d-i partman-auto-crypto/erase_data boolean false

# --- Finalize Partitioning ---
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-efi/non_executable_efi boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# --- Package Selection ---
tasksel tasksel/first multiselect standard, desktop, gnome-desktop
d-i pkgsel/include string curl sudo git
d-i pkgsel/upgrade select full-upgrade
d-i popularity-contest/participate boolean false

# --- Bootloader ---
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev string default
d-i grub-installer/force-efi-extra-removable boolean true

# --- Post-Install ---
# This command runs just before the installer finishes.
# 'in-target' ensures the commands run inside the new OS, not the installer RAM.

d-i preseed/late_command string \
    in-target mkdir -p /etc/dconf/db/local.d/; \
    in-target sh -c "echo '[org/gnome/desktop/interface]' > /etc/dconf/db/local.d/01-custom-ui"; \
    in-target sh -c "echo \"color-scheme='prefer-dark'\" >> /etc/dconf/db/local.d/01-custom-ui"; \
    in-target sh -c "echo \"gtk-theme='Adwaita-dark'\" >> /etc/dconf/db/local.d/01-custom-ui"; \
    in-target sh -c "echo \"font-name='Monospace 14'\" >> /etc/dconf/db/local.d/01-custom-ui"; \
    in-target sh -c "echo \"document-font-name='Monospace 14'\" >> /etc/dconf/db/local.d/01-custom-ui"; \
    in-target sh -c "echo \"monospace-font-name='Monospace 14'\" >> /etc/dconf/db/local.d/01-custom-ui"; \
    in-target dconf update
d-i preseed/late_command string in-target usermod -aG sudo user
d-i preseed/late_command string in-target sed -i 's/GRUB_TIMEOUT=[0-9]*/GRUB_TIMEOUT=2/' /etc/default/grub; in-target update-grub; in-target usermod -aG sudo user

# --- Finishing up ---
d-i finish-install/reboot_in_progress note