# --- Localization ---
d-i debian-installer/locale string en_US.UTF-8
d-i console-setup/ask_detect boolean false
d-i debian-installer/keymap select se
d-i keyboard-configuration/xkb-keymap select se
d-i keyboard-configuration/layoutcode string se

# --- Network Configuration ---
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string debian
d-i netcfg/get_domain string local
d-i netcfg/link_wait_timeout string 10

# --- Mirror Settings ---
d-i mirror/country string manual
d-i mirror/http/hostname string ftp.fr.debian.org
d-i mirror/http/directory string /debian
# Note: Ensure the proxy logic is handled by your environment
# or passed as a boot parameter if debconf-set isn't supported in-script.
d-i mirror/http/proxy string

# --- User Accounts ---
d-i passwd/root-password password user
d-i passwd/root-password-again password user
d-i passwd/user-fullname string Debian User
d-i passwd/username string user
d-i passwd/user-password password user
d-i passwd/user-password-again password user

# --- Clock and Timezone ---
d-i clock-setup/utc boolean true
d-i time/zone string Europe/Paris

# --- Partitioning (Standard LVM - No Encryption) ---
d-i partman-auto/method string lvm
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-auto/choose_recipe select efi-boot-lvm

d-i partman-auto/expert_recipe string \
      efi-boot-lvm :: \
              128 128 128 fat32 \
                      $primary{ } \
                      method{ efi } format{ } \
              . \
              1024 1024 1024 ext4 \
                      $primary{ } $bootable{ } \
                      method{ format } format{ } \
                      use_filesystem{ } filesystem{ ext4 } \
                      mountpoint{ /boot } \
              . \
              2048 2048 2048 linux-swap \
                      $lvmok{ } \
                      lv_name{ swap } \
                      method{ swap } format{ } \
              . \
              1000 10000 -1 ext4 \
                      $lvmok{ } \
                      lv_name{ root } \
                      method{ format } format{ } \
                      use_filesystem{ } filesystem{ ext4 } \
                      mountpoint{ / } \
              .

# --- Finalize Partitioning ---
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-efi/non_executable_efi boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# --- Package Selection ---
tasksel tasksel/first multiselect standard, desktop, gnome-desktop
d-i pkgsel/include string curl sudo git openssh-server spice-vdagent qemu-guest-agent
d-i pkgsel/upgrade select full-upgrade
d-i popularity-contest/participate boolean false

# --- Bootloader ---
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev string default
d-i grub-installer/force-efi-extra-removable boolean true
d-i grub-installer/update-nvram boolean false

# --- Post-Install (late_command) ---
# Combined into one string to ensure all commands execute correctly.
# in-target systemctl enable --now spice-vdagent; \
d-i preseed/late_command string \
    in-target usermod -aG sudo user; \
    in-target sed -i 's/GRUB_TIMEOUT=[0-9]*/GRUB_TIMEOUT=2/' /etc/default/grub; \
    in-target update-grub

# --- Finishing up ---
d-i finish-install/reboot_in_progress note